@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');


.newsletterColumn {
    width: 50%;
    display: inline-block !important;
}

/* Header */

.header__menu-item {

    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
}

/* Pagina Acerca de la Bodega / Columna de imagenes */

.grilla-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-gap: 20px;
}

.acerca {
    background-color: white;
}

.acerca-image-grilla {
    width: 100%;
}

.galeria-col-wrapper {
    font-size: 12px;
}

.acent-text {
    padding-left: 250px;
}

/* Banner Main fondo negro*/
.main-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url({{block.settings.image | img_url:'master'}});
    position: relative;
    background-size: cover;
    width: 100%;
}

/*Section Video Home*/

.main-video-wrapper {
    border: 2px solid #000;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title-video {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 50%;
    width: 500px;
    color: white;
    font-weight: 700;
    text-align: center;

}


#main-banner-icon-wine {
    position: absolute;
    width: 100px;
    left: 0px;
}

#main-banner-icon-map {
    position: absolute;
    width: 100px;
    right: 0px;
}

.main-banner-title-wrapper h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.textoNegrita {
    font-family: "Avenir Next";
    font-weight: 700;
}


/* Uncover Section */

.uncover-section {
    height: 400px;
    background-image: url(https://cdn.shopify.com/s/files/1/0604/5702/5674/files/FondoSiluetas2.png?v=1660398010);
    background-color: black;
    background-size: initial;
    ;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-position-y: -150px;

}

.descubre-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-cta {
    padding: 20px;
    background-color: bisque;
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-size: 16px;
    font-family: "Avenir Next";
    margin-bottom: 60px;
    border: none;
    text-align: center;
    width: 200px;
    border-radius: 30px;
}


.uncover-section .uncover-title {
    font-size: 40px;
    color: white;
    width: 500px;
    text-align: center;
    font-family: "Avenir Next";
    font-weight: 400;
}

.uncover-section .uncover-sub-title {
    font-size: 26px;
    font-weight: 400;
    color: white;
    width: 500px;
    text-align: right;
}

.uncover-section .uncover-paragraph {
    font-size: 16px;
    color: white;

}

.video-section__media.deferred-media {
    height: 80vh;
}

.container-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map-content-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    padding: 40px 0px;
}

.map-content-ok h2 {
    font-size: 50px;
    /*   font-family: "Avenir Next", sans-serif;
  font-weight: 800; */
}

.map-content-ok img {
    margin-left: 40px;
}

.icon-right {
    height: 50px !important;
    width: 50px;
}

.icons-custom {
    width: 50px;
    height: 50px;
}

/* Logos Raices Marcas */

.image-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px;
    background-color: #f3f3f3;

}

.image-cards img {
    width: 300px;
}

.image-cards a {
    margin: 10px 0px;
}

/* Video */

.video-section__media.deferred-media {
    height: 300px;
}

.image-cards {
    padding: 80px 0px;
}

/* Nuestros Proyectos */

.nuestros-proyectos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    padding: 80px 0px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.btn-main {
    padding: 20px 50px;
    background-color: bisque;
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-size: 16px;
    margin-bottom: 60px;
    border: none;
}

/* Newsletter Como Unirte */

/* .titulo-como-unirte {
  display: flex:
  justify-content: center;
  margin: auto
}

.titutlo-como-unirte {
  font-weight: 700;
  font-size: 
} */

/* Footer */

.footer-block__details-content p {
    font-size: 1.5em;
}

.footer-block__newsletter h2 {
    font-size: 1.4em;
    text-align: center;
}
  .newsletter__wrapper {
    display: flex;
    flex-direction: column;
  } 
    /* Conocernos */

    .conocernos-container {
        background: url('https://cdn.shopify.com/s/files/1/0604/5702/5674/files/CELLAR-13_1_1_1.jpg?v=1664388267');
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 10px 80px;
        background-position: center;
        align-items: start;
    }

    .conocernos-cita {
        height: 100%;
        display: flex;
        filter: brightness(1.0);
        flex-direction: column;
        justify-content: end;
    }

    .conocernos-cita h2 {
        font-size: 26px;
        color: white;
        font-weight: 400;
        font-family: 'Avenir Next', semi bold;
    }


    .conocernos-cita p {
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
        line-height: 1.2em;

    }

    .conocernos-button-wrapper {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }

    .conocernos-cita {
        width: 500px;
        font-size: 12px;
    }

    /* Galerias */

    .galeria-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 30px;
        padding: 0px 80px;
    }

    .video-wrapper {
        display: flex;
        justify-content: center;
    }

    .video-wrapper video {
        object-fit: cover;
    }

    .galeria-images-top-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .first-image {
        width: 300px;
    }

    .second-image {
        width: 300px;
        padding: 10px;
    }

    .bottom-image {
        background-image: url('https://cdn.shopify.com/s/files/1/0604/5702/5674/files/uvaVinoPortadaYouTube.jpg?v=1657636888');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .third-image {
        margin-top: 10px;
        width: 100%;
        opacity: 0;
        object-fit: cover;
    }

    .galeria-2-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 50px 80px;
    }

    .galeria-2-col-wrapper {}

    .video-2-wrapper {
        margin-top: 100px;
    }

    .galeria-2-inner-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .galeria-2-column-right {}

    .first-2-image {
        width: 300px;
    }

    .video-2-wrapper img {
        width: 100%;
    }

    .second-2-image {
        width: 400px;
    }

    .third-2-image {
        width: 500px;
        object-fit: cover;
    }

    .fourth-2-image {
        height: 400px;
        width: 600px;
        object-fit: cover;
    }

    /* Banner Black */

    .banner-black-section {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner-black-title {
        font-size: 50px;
        color: white;
        text-align: center;
        font-weight: 700;
        line-height: 1.3;
    }

    .main-page-title {
        display: none;
    }

    .page-title {
        display: none;
    }

    .footer {
        font-size: 10px;
    }

    /* Flip Cards */

    .flip-section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        align-items: center;
        padding: 0px 80px;
        background-color: black;
    }

    .flip-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 50px;
    }

    .flip-title {
        color: white;
        font-size: 30px;
    }

    .flip-card {
        width: 300px;
        height: 300px;
        background: transparent;
        perspective: 1000px;

    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.9s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-show .flip-card-inner {
        transform: rotateY(180deg);
    }


    .flip-card-back,
    .flip-card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        color: black;
    }

    .flip-card-back {
        transform: rotateY(180deg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .flip-card-back p {
        font-size: 20px;
        padding: 0px 30px;
        color: white;
        font-weight: 600;
        font-family: 'Avenir Next';
    }

    .btn-flip-card {
        padding: 10px 20px;
        background-color: bisque;
        text-decoration: none;
        font-weight: 800;
        color: black;
        font-size: 16px;
        border: none;
        border-radius: 30px;
    }


    /* Portfolio / Unete a la mision  */

    .newsletter__wrapper {
        display: flex;
        justify-content: center;
    }

    .newsletter__wrapper h2 {
        font-family: 'Avenir Next';
        font-weight: 600;
        font-size: 40px;
    }

    .portfolio-container {
        /*         height: 100vh; */
        width: 100%;
    }

    .portfolio-wrapper-text h2 {
        font-size: 30px;
        color: black;
    }

    .portfolio-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 80px;
        place-items: center;
    }

    .portfolio-wrapper-image {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image-portfolio {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .portfolio-wrapper-video {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .portfolio-wrapper-text {
        font-size: 16px;
        color: black;
        padding: 30px;
    }

    .portfolio-wrapper-text h3 {
        font-size: 22px;
        color: black;
    }

    /* Equipo */

    .equipo-container {
        max-width: 1920px;
        overflow: hidden;
        padding: 50px 80px;
    }

    .equipo-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .equipo-card {
        position: relative;
    }

    .equipo-wrapper img {
        width: 300px;
        opacity: 1;
    }

    .equipo-hover-text {
        display: none;
        position: absolute;
        top: 20px;
        left: 40px;
        width: 200px;
        text-align: center;
        color: white;
        font-family: 'Avenir Next';
        font-weight: 700;

    }

    .equipo-wrapper img:hover+.equipo-hover-text {
        display: block;
    }

    @media screen and (max-width: 760px) {
        .uncover-content {
            grid-template-columns: 1fr;
            padding: 0px 20px;
        }

        .uncover-section .uncover-title {
            width: auto;
            font-size: 20px;
        }

        .uncover-section .uncover-sub-title {
            font-size: 16px;
        }

        .container-map {
            grid-template-columns: 1fr;
        }

        .wrapper {
            height: 300px;
            width: auto;
        }

        .columns-pre-footer {
            grid-template-columns: 1fr;
        }

        .pre-footer-rutas-legales {
            grid-template-columns: 1fr;
        }

        .pre-footer img {
            margin: auto;
        }

        /* Home */

        .main-video-wrapper {
            height: auto;
            width: auto;
        }

        .main-video-wrapper video {
            height: 400px !important;
            width: auto !important;
        }

        .flip-section-container {
            grid-template-columns: 1fr;
            padding: 0px;
            place-items: unset;
        }

        .flip-title {
            color: white;
            font-size: 14px;
            text-align: center;
        }

        .flip-container {
            grid-template-columns: 1fr;
        }

        .uncover-section {
            grid-template-columns: 1fr;
            background-image: none;
        }

        .galeria-2-container {
            grid-template-columns: 1fr;
            padding: 10px;
        }

        .video-2-wrapper {
            margin-top: 30px;
        }

        .video-2-wrapper iframe {
            width: 300px;
        }

        .galeria-2-inner-grid {
            grid-template-columns: 1fr;
        }

        .uncover-section .uncover-sub-title {
            width: auto;
            text-align: center;
        }

        .conocernos-container {
            padding-bottom: 30px;
        }

        .conocernos-cita {
            width: auto;
        }

        .galeria-images-top-wrapper {
            flex-direction: column;
        }


        /* Acerca de nosotros Pagina */

        .banner-black-section {
            padding: 0px 20px;
        }

        .grilla-wrapper {
            grid-template-columns: 1fr;
        }

        .acent-text {
            padding: 0px;
        }

        .galeria-container {
            grid-template-columns: 1fr;
            padding: 0px 20px;
        }

        /* Unete a la mision */


        .portfolio-wrapper {
            padding: 0px 20px;
            grid-template-columns: 1fr;
        }

        /* Equipo */

        .equipo-container {
            padding: 20px;
        }

        .equipo-wrapper {
            grid-template-columns: 1fr;
        }

        .equipo-wrapper img:hover {
            opacity: 0.5;
        }
    }